/* 1024px - An open source xhtml/css website template by Andreas Viklund
http://andreasviklund.com . Free to use in any way and for any purpose as long
as the proper credits are given to the original designer.
Version: 1.2, April 20, 2006 */

/* Lot of changes for this particular web site. Spacing, divs, colors, etc. 
For better results of your creation use original template by Andreas Viklund.

My div structure:
------------------- wrap -------------------------------------
   -------- header ----------------------------------------                                  
   -------- main ------------------------------------------
       --- sidebar --- --- content ---------------------  
       --------------- ---------------------------------
       --------------- ---------------------------------
   -------- footer ----------------------------------------
 ------------------------------------------------------------- 
Ales Kaderabek, January 2007 */


  
/******** General tags ********/
body{
font:76% Verdana,Tahoma,Arial,sans-serif;
background:#f6eee1 URL(bg_noty.jpg);
Color:#404040;
line-height:1.2em;
margin:0 auto;
padding:0;
}

a{
text-decoration:none;
color:#4088b8;
font-weight:bold;
}

a:hover{text-decoration:underline;}
a img{border:0;}
p{margin:0 0 18px 10px;}
ul,ol,dl{font-size:0.9em; margin:2px 0 16px 35px;}
ul ul,ol ol{margin:4px 0 4px 35px;}

h1{
font-size:4.2em;
letter-spacing:-3px;
margin:30px 0 30px 25px;
color:#4088b8;
}

h1 a{text-transform:none; color:#4088b8;}

h2{
font-size:1.4em;
color:#4088b8;
border-bottom:4px solid #dadada;
padding:0 2px 2px 5px;
margin:0 0 10px 0;
letter-spacing:-1px;
}

h3{
font-size:1.2em;
font-weight:bold;
color:#4088b8;
/*border-bottom:1px solid #dadada;*/
margin:10px 0 8px 0;
padding:1px 2px 2px 3px;
}

blockquote{
font-size:0.9em;
border:1px solid #dadada;
margin:20px 10px;
padding:8px;
}

img{
  height: 250px;
}
/******** Top most envelope ********/
#wrap{
color:#41078e;
margin:38px 8px 38px 8px; /* vrchni okraj zrusit az bude obrazek misto textu */
}

/******** Header ********/
#header{
margin:0;
}

#toplinks{text-align:right; padding:5px 2px 2px 3px;}

#slogan{
font-size:1.5em;
color:#aca79d;
font-weight:bold;
letter-spacing:-1px;
margin:15px 0px 20px 35px;
line-height:1.2em;
}

/******** Main part (envelopes Sidebar and Content *********/
#main{
border:1px solid #bbbbbb; /* ramacek pro doladeni pozicovani */
clear:both;
}

/******** Sidebar ********/
#sidebar{
/*border: 1px solid #e9e9e9; /* ramacek pro doladeni pozicovani */
width:100px;
float:left;
padding:5px 2px 5px 2px;
/*padding:8px 2px 5px 2px;*/ /* pro debilni IEcko */
}

#sidebar ul{
list-style:none;
font-size:0.9em;
margin:0;
padding:0 0 15px 10px;
}

#sidebar li{
list-style:none;
margin:5px 0 4px 0;
padding:0;
font-size: medium;
float: left;
}

#sidebar li a{
font-size:1.2em;
font-weight:bold;
padding:2px;
}

#sidebar ul ul{
margin:4px 0 3px 15px;
line-height:1.2em;
padding:0;
}

#sidebar ul ul li a{font-weight:normal;}
#sidebar h2{margin:3px 0px 8px 0px;}


/******** Content ********/
#content{
border:5px solid #fffdfa; /* ramacek pro doladeni pozicovani */
line-height:1.5em;
margin-left:202px;
text-align:justify;
padding:5px 5px 5px 5px; /* padding zmensit o sirku ramecku sloupce vlevo */
background-color: #fffbf4;
}


#content ol{margin: 0px;font-size: 12px;}
#content ol::marker{padding-left: 5px;}
#content li{margin: 0px;font-size: 12px;}
#content li::marker{padding-left: 5px;}
#content h2 {margin:10px 0 8px;}

#content h3 {margin:10px 0 8px;}




/******** Footer ********/
#footer{
clear:both;
text-align:right;
color:#808080;
font-size:0.9em;
margin:5px auto;
border-top:4px solid #dadada; 
padding:8px 0 0 0;
line-height:1.6em;
float: center;
}

#footer p{margin:0; padding:0;}
#footer a{color:#808080; margin-right: 20px;}


/******** Various CLASSes ********/
.box{
color:#ffffff;
font-size:0.9em;
background-color:#4088b8;
border:1px solid #c8c8c8;
line-height:1.3em;
margin:40px 0 0 0; 
padding:5px 5px 5px 8px;
}

.box a{color:#f0f0f0;}
.left{float:left; margin:0 15px 4px 0;}
.right{float:right; margin:0 0 4px 15px;}
.textright{text-align:right;}
.readmore{text-align:right; margin:-10px 10px 12px 0;}

.center{text-align:center;}
.blue{color:#4088b8;}
.big{font-size:1.3em;}
.small{font-size:0.8em;}
.bold{font-weight:bold;}

.clear{clear:both;}
.hide{display:none;}
.fade{color:#c8c8c8;}
.gray{color:#808080;}
.brown{color:#aca79d;}

.photo{
border:1px solid #bababa;
padding:2px;
background-color:#ffffff;
margin:6px 18px 2px 5px;
}

.grid-container {
  display: inline-grid;
}